html
{
  font-family: "Zen Maru Gothic", sans-serif;
  color: #F7F7FF;
  background-color: #1E1E3A;
  height: 100%;
}

button
{
  font-family: "Zen Maru Gothic",sans-serif;
  color: #F7F7FF;
  background-color: #8f94fb;
  padding: 2px;
  border-radius: 10%;
  border-color: #F7F7FF;
}

button:hover
{
  background-color: #4568DC;
}

canvas
{
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 10%;
  left: 1%;
  width: 95vw;
  height: 85vh;
  outline: 2px solid red;/*testing*/
}

#toolbar
{
  background-image: linear-gradient(to top, #1E1E3A 75%, #4568DC);
  height: 10%;
  padding: 1%;
}

#lyric-app-bg
{
  height: 90vh;
  animation-name: bgGradientAnim;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  z-index: -1;
}

#media
{
  position: fixed;
  bottom: 5%;
  right:5%
}

#info
{
  position: fixed;
  bottom: 5%;
  left: 2%;
  width: 60%;
  border-color: #F7F7FF;
  border-style: solid;
  background-color: #1E1E3A;
  padding: 1%;
}

@keyframes bgGradientAnim 
{
  0% {background-color: #4e54c8;}
  25% {background-color: #8f94fb;}
  50% {background-color: #946df4;}
  75% {background-color: #4e54c8;}
  100% {background-color: #4e54c8;}

}

@font-face 
{
  font-family: "Zen Maru Gothic";
  src: url("public/ZenMaruGothic-Regular.ttf") format("truetype");
}
